/* Réinitialisation de base */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
    background: rgb(255,194,0);
    background: linear-gradient(30deg, rgba(255,194,0,1) 0%, rgba(249,186,136,1) 40%, rgba(190,32,38,1) 100%); 
    background-repeat: no-repeat;
    overflow: hidden;
}

/* Conteneur principal */
.auth-container {
    display: flex;
    width: 100%;
    height: 100%; 
}

.decorative-image {
    max-width: 70%; /* Ajustez la taille de l'image */
    max-height: 70%; /* Limite la hauteur */
    /*margin-top: 100px;*/
    margin-left: 100px;
}

/* Section droite : Formulaire */
.form-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    z-index: 10;
    margin-bottom: 200px;
}

.form-container {
    width: 350px;
    text-align: center;
    padding: 30px;
    border-radius: 10px;
    background-color: #ffffff;
    border: solid 1px #ddd;
}

.form-container h1 {
    font-size: 1.8em;
    color: #000000;
    margin-bottom: 30px;
}

/* Champs de formulaire */
.form-container input {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    box-sizing: border-box;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s, box-shadow 0.3s;
}

.form-container input:focus {
    border-color: #6c63ff;
    outline: none;
    box-shadow: 0 0 5px rgba(108, 99, 255, 0.5);
}

/* Bouton principal */
.login-button {
    width: 100%;
    padding: 15px;
    background-color: #a5a5a5;
    color: #1f0c0c;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    margin: 10px 0 20px 0;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Ombre sur les boutons */
}

.login-button:hover {
    background-color: #7d7d7d;
    transform: scale(1.03);
    color: #cccccc;
}

/* Boutons supplémentaires */
.redirection-button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    border: 1px solid #ccc;
    background-color: #a5a5a5;
    color: #1f0c0c;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Effet d'ombre léger */
    transition: background-color 0.3s, color 0.3s, transform 0.2s;
}

.redirection-button:hover {
    background-color: #7d7d7d;
    transform: scale(1.03);
    color: #cccccc;
}

.header-text {
    text-align: center;
    padding: 50px 0; /* Espacement en haut et en bas */
    color: #c42424; /* Couleur du texte */
}


.header-text p {
    font-size: 2em; /* Taille du sous-texte */
    margin-top: 10px; /* Espacement sous le titre */
    color: #000000; /* Couleur plus claire pour le sous-texte */
}