/POC (Proof of Concept)/app/__pycache__
/Version fonctionnelle/app/__pycache__
/Version finale/app/__pycache__
/Version finale/app/routes/__pycache__
/Version finale/app/models/__pycache__
/Version finale/app/utils/__pycache__
/Version finale/app/test_performance/__pycache__
/venv
/.env