<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion</title>
    <link rel="stylesheet" href="../static/styles/auth.css">
</head>

<body>
    <div class="header-text">
        <p>Connectez-vous pour accéder accéder à plus de fonctionnalités.</p>
    </div>
    <div class="auth-container">
        <img src="../static/images/logo.png" alt="Image décorative" class="decorative-image">

        <!-- Section droite : Formulaire de connexion -->
        <div class="form-section">
            <div class="form-container">
                <h1>Connexion</h1>
                <input type="email" id="login-email" placeholder="Email" required>
                <input type="password" id="login-password" placeholder="Mot de passe" required>
                <div class="message" id="login-message"></div>

                <button
                    onclick="loginUser(document.getElementById('login-email').value, document.getElementById('login-password').value)"
                    class="login-button">
                    Connexion
                </button>

                <!-- Boutons de redirection -->
                <button onclick="redirectToRegister()" class="redirection-button">
                    Créer un compte
                </button>

                <button onclick="redirectToTemplate()" class="redirection-button">
                    Retour vers la page principale
                </button>
            </div>
        </div>
    </div>

    <!-- JavaScript -->
    <script src="../static/scripts/consts.js"></script>
    <script src="../static/scripts/auth.js"></script>
    <script>
        function redirectToRegister() {
            window.location.href = `${BASE_URL}/register`
        }
        function redirectToTemplate() {
            window.location.href = `${BASE_URL}/`;
        }
    </script>
</body>

</html>